.profile__add-button {
  border: none;
  background: url("../../../images/profile-add-button.svg") center no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 50px;
  width: 282px;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .profile__add-button {
    background: url("../../../images/profile-add-button-desktop.svg") center no-repeat;
    width: 150px;
    margin: 0 0 0 auto;
  }
}
